*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(45deg, #0a0a0a, #3a4452);;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}
.container h2{
    cursor: default;
    font-style: italic;
}
.container{
    background-color: #000;
    padding: 16px;
    border-radius: 1rem;
    min-height: 50vh;
    width: 45vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
.amount p{
    cursor: default;
    padding-bottom: 6px;
    font-style: italic;
}
form input{
    height: 2rem;
    border: 1px solid lightgrey;
    padding-left: 0.5rem;
    font-size: 1rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2rem;
}
.dropdown p{
    cursor: default;
    padding-bottom: 6px;
    font-style: italic;
}
.select-container{
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
    color: white;
    background-color: #000;
}
.msg{
    margin: 2rem 0 2rem 0;
    cursor: default;
    display: flex;
    justify-content: center;
    font-style: italic;
}
form button{
    background-color: #000;
    color: #03e9f4;
    height: 3rem;
    font-size: 1.15rem;
    cursor: pointer;
    font-style: italic;
    border: 2px solid #03e9f4;
    transition: .5s;
}
form button:hover{
    background-color: #03e9f4;
    color: #050801;
    border: none;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}